# To generate the password.gpg file
# you need the package gpgv (in debian)
# create your password file and run
# gpg --list-key
# In my case the output is
# /root/.gnupg/pubring.gpg
#------------------------
#pub   4096R/6009946B 2012-05-01
#uid                  Josemi Liébana (http://josemi-liebana.com) <office@josemi-liebana.com>
#sub   4096R/F7DCAF27 2012-05-01
# Grab your key name and run the following command
# gpg -r "Josemi Liébana" -e password && rm password

Gmail:      password
Office:     password
Admin:      password
Westwing:   password
