[user]
    name = Josemi Liébana
    email = josemi.liebana@westwing.de
    signingkey = D6EEC8B20069C59F7C50D42DC6976D1D703A521F
[push]
    default = simple
[branch]
    autosetupmerge = always
[filter "lfs"]
    smudge = git-lfs smudge %f
    required = true
    clean = git-lfs clean %f
[github]
    user = titosemi
[commit]
    gpgSign = true

