[user]
    name = Josemi Liébana
    email = josemi.liebana@gmail.com
    signingkey = C9F7F0CFDA0C56B43E1CD346DAB084CC82AD49FA
[includeIf "gitdir:~/Development/Westwing"]
    path = ~/Development/Westwing/.gitconfig
[push]
    default = simple
[branch]
    autosetupmerge = always
[filter "lfs"]
    smudge = git-lfs smudge %f
    required = true
    clean = git-lfs clean %f
[github]
    user = titosemi
[commit]
    gpgSign = true

